[user]
  name = tanaybhardwaj24
  email = 70639071+tnb24@users.noreply.github.com

[pull]
  rebase = true
[branch]
  autosetuprebase = always
[push]
  default = current
[init]
  defaultBranch = main
[commit]
	gpgsign = true